# python related
*.pyc
*__pycache__/

*_out

# ignore leaderboard changes
leaderboard
scenario_runner

# ignore outputs
outputs
checkpoints
data
*cache

# ignore logs
experts/agents/replay/ScenarioLogs/*
experts/agents/replay/RouteLogs/*
experts/agents/replay/database/*

# ignore model checkpoints
*.pth
*.pth.tar

# ignore data collection for training neural networks
data_collection